<!DOCTYPE html>
<html>
<head>
<title>Sürücü Tablosu</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>
<h1>Sürücü Tablosu</h1>
<table id="person" class="display" style="width:100%">
        <thead>
            <tr>
                <th>KİMLİK</th>
                <th>AD</th>
                <th>EHLİYET TİPİ</th>
                <th>EHLİYET SINIFI</th>
                <th>ARAÇLAR</th>
            </tr>
        </thead>
    </table>
<script>
function setupData() {
    $(document).ready(function () {
        $('#person').DataTable({
            "ajax": {
                "url": "/Drivers_Data", 
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "TCKimlik"},
                {"data": "ad"},
                {"data": "ehliyetTipi"},
                {"data": "ehliyetSinifi"},
                {"data": "kullanabildigiAraclar"
            }
            ]
        });
    });
}
$( window ).on( "load", setupData );
</script>
</body>
</html>